<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All TestCases" data-provider-thread-count="8">
    <test verbose="2" name="PROJECTNAME-UI-TESTCASES">
        <classes>
            <class name="com.gemini.generic.bdd.GemJarCucumberBase"/>
        </classes>
    </test>
</suite>